project:
  type: website

website:
  title: "Numerical Ecology"
  navbar:
    left:
      - href: index.qmd
        text: Home
      - href: day3.qmd
        text: PCA, PCoA and Ecological Trajectory Analysis

format:
  html:
    theme:
      - cosmo
      - brand
    css: styles.css
    toc: true

editor: visual

